*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    display: grid;
    place-items: center;
}

.section-center{
    width: 50vw;
    max-width: 500px;
    margin: 5rem auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    margin-bottom: 40px;
    height: 25px;
}

#input{
    flex: 1;
    border: none;
    background-color: hsl(210, 36%, 96%);
}

.submit-btn{
    padding: 0 8px;
    font-size: 1rem;
    text-transform: capitalize;
    background: hsl(205, 89%, 70%);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s linear;
}

.submit-btn:hover{
    opacity: 0.7;
    color: #fff;
}
.grocery{
    visibility: hidden;
}

.grocery.show-grocery{
    visibility: visible;
}
.grocery-container{
    display: flex;
    background: hsl(210, 36%, 96%);
    transition: all 0.3s linear;
    margin-bottom: 20px;
}
.grocery-container:hover{
    background: hsl(203, 81%, 94%);
}
.name{
    flex: 1;
    text-transform: capitalize;
}

.edit-btn{
    border: none;
    color: hsl(125, 71%, 66%);
    margin: 0 4px;
}

.delete-btn{
    border: none;
    color: hsl(360, 71%, 66%);
    margin: 0 4px;
}

.edit-btn:hover, .delete-btn:hover{
    opacity: 0.6;
}

.clear-btn{
    display: block;
    width: 100%;
    margin: 20px auto;
    border: transparent;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: hsl(360, 71%, 66%);
    background: hsl(203, 81%, 94%);
    transition: all 0.2s linear;
}

.clear-btn:hover{
    color: red;
}